.headerContainer {
  background-color: #111; // 검정색 배경
  padding: 0.9rem 2rem; // 상하 및 좌우 패딩
  display: flex;
  justify-content: space-between; // 아이템을 양 끝으로 배치
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); // 하단 경계선

  .headerTitleBox {
    flex: 1;
    .headerTitle {
      margin: 0; // 마진 초기화
      font-size: 2.5rem;
      color: #ff4757; // 제목 색상
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); // 텍스트 그림자 추가
    }
  }

  .menuContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menuBtn {
      display: flex;
      gap: 30px; // 버튼 간격 조정

      a {
        text-decoration: none; // 링크의 기본 스타일 제거
      }
    }
  }
}
